<nav class="flex bg-gray-100 text-gray-900 bt-4 p-4">
    <ul class="flex items-left gap-20 p-6">
        <li><a href="/" class="text-sm font-medium text-gray-700 hover:text-indigo-600 transition-colors">Home</a></li>
        <li><a href="/about" class="text-sm font-medium text-gray-700 hover:text-indigo-600 transition-colors">About</a></li>
        <li><a href="/contact" class="text-sm font-medium text-gray-700 hover:text-indigo-600 transition-colors">Contact</a></li>
        <li><a href="/blogs" class="text-sm font-medium text-gray-700 hover:text-indigo-600 transition-colors">blogs</a></li>
    </ul>
</nav>